Package: nebius-observability-agent-updater
Name: Nebius Observability Agent Updater
Description: Service to update the Nebius Observability Agent
Author:: Nebius <support@nebius.ai>
Maintainer: Nebius <support@nebius.ai>
Architecture: amd64
